* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
}
.section-one {
    height: 500px;
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.hero {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 70px;
}
.left-text {
    width: 450px;
}
.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}
.image-holder {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    background-color: rgba(187, 196, 196, 0.363);
    width: 720px;
    height: 230px;
    justify-content: center;
    align-items: center;
}
.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 45px 0;
}
.cards-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.card {
    max-width: 150px;
    height: 200px;
}
div.card-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 20px;
    margin-bottom: 10px;
}
.card-text {
    text-align: center;
}



